<tr
  id="config_table_row_{{ item.id }}"
  hx-target="closest tr"
  hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
>
  <td>
    <input 
      class="input input-sm input-bordered"
      type="text" 
      name="{{ form.name.html_name }}" 
      value="{{ form.name.value }}"
      data-id="{{ form.id }}"
    >
  </td>
  <td>
    <input 
      autofocus
      class="input input-sm input-bordered"
      type="text" 
      name="{{ form.value.html_name }}" 
      value="{{ form.value.value }}"
      data-id="{{ form.id }}"
    >
  </td>
  <td>
    <button 
      type="button"
      hx-post="{% querystring item=form.id action='save' %}"
      hx-include="input[data-id='{{ form.id }}']"
      hx-trigger="click, keydown[key=='Enter'] from:input[data-id='{{ form.id }}']"
      class="btn btn-square btn-xs btn-success"
    >
      {% lucide "check" class="size-4" %}
    </button>

    <button 
      type="button"
      hx-post="{% querystring item=form.id action='delete' %}"
      hx-swap="delete"
      class="btn btn-square btn-xs btn-warning"
    >
      {% lucide "trash-2" class="size-4" %}
    </button>

    <button 
      type="button"
      hx-get="{% querystring item=form.id action='view' %}"
      class="btn btn-square btn-xs btn-ghost"
    >
      {% lucide "x" class="size-4" %}
    </button>
  </td>
</tr>
