<div class="grid sm:grid-cols-[1fr_1fr_6rem] grid-cols-1">
  <!-- Header -->
  <div class="text-sm font-bold text-neutral-500 hidden sm:contents">
    {% for header in config_table.headers %}
    <div class="p-2">
      {{ header }}
    </div>
    {% endfor %}
    <div class="p-2"></div>
  </div>

  <!-- Separator -->
  <div class="col-span-full h-[2px] bg-base-200"></div>

  <!-- Body -->
  {% for item in config_table.rows %}
    <c-config-table-row :item="item" />

    <!-- Separator -->
    <div class="col-span-full h-px bg-base-200"></div>
  {% endfor %}
</div>
